spec/fixtures/IADIF-head20.dtd

<!-- DOCTYPE IAD.IF Head 2.0

Changelogg:
 08.06.2006  First version version 2.0     EAS
-->
<!-- The element HEAD identifies a partner and a provider -->
<!ELEMENT HEAD (PARTNER,PROVIDER?,UPLOAD_REFERENCE?,EMAIL_FEEDBACK?,FEEDBACK_LEVEL?)>
<!ELEMENT PARTNER (#PCDATA)>
<!ELEMENT PROVIDER (#PCDATA)>
<!ELEMENT UPLOAD_REFERENCE (#PCDATA)>
<!ELEMENT EMAIL_FEEDBACK (#PCDATA)>
<!ATTLIST EMAIL_FEEDBACK
	FEEDBACK_LEVEL (info | warning | error | fatal) "error">
